<!-- REMINDER: Change extension to .ejs before pushing to -b master. -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/collections_show.css">
  <title>Resource Page</title>
</head>
<body>

  <main id="container">

    <header id="header">

      <div id="publication-info">
        <span id="owner-name">Posted by Owner</span>
        <span id="dates">
          <p id="date-published">2 Feb 2022</p>
          <p id="date-modified">(Edited: 11 Feb 2022)</p>
        </span>
      </div>

      <h1 id="resource-title">(ITS FRIDAY THEN, ITS SATURDAY, SUNDAY! GO MUFASA!)</h1>

      <div id="rating-likes">
        <p id="rating-score">(4.8/5 Rating)</p>
        <p id="likes">(319 Likes)</p>
      </div>
    </header>

    <article>

      <!-- Description section -->
      <section id="description">
        <p>Description text description text description text description text description text description text description text</p>
      </section>

      <!-- URL section -->
      <section id="url">
        <p><strong>(<a href="https://www.youtube.com/watch?v=1TewCPi92ro">https://www.youtube.com/watch?v=1TewCPi92ro</a>)</strong></p>
      </section>

      <!-- Edit section -->
      <section id="edit-button">
        <button type="button">Edit</button>
      </section>

      <!-- Ratings section -->
      <section id="rating-buttons">
        <span id="rating-title">Rating</span>
        <div>
          1<input type="radio" name="rating">
          2<input type="radio" name="rating">
          3<input type="radio" name="rating">
          4<input type="radio" name="rating">
          5<input type="radio" name="rating">
        </div>
      </section>

      <!-- Comments section -->
      <section>
        <h2 id="comments-title">Comments</h2>
        <div id="comments">
          <span class="comment-details">
            <p class="user-name"><b>John:</b></p>
            <p class="comment-body">It's not Friday in our family until we watch this at least twice!</p>
          </span>
          <span class="comment-details">
            <p class="user-name"><b>Neale:</b></p>
            <p class="comment-body">This is so positive. The music is up. The brightly colored clothes. Thanks Mufasa!</p>
          </span>
          <span class="comment-details">
            <p class="user-name"><b>Vivian:</b></p>
            <p class="comment-body">keep doing what ur doing this is awesome!</p>
          </span>
        </div>
      </section>

    </article>
  </main>
</body>
</html>
