<!DOCTYPE html>
<html lang="en">

<head>
  <title>Resource Haven</title>

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="../styles/collections_index.css" type="text/css" />

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>

  <main>

    <article>
      <!-- START - TRENDING ARTICLE -->
      <section class="article-titles">
        <span>Trending Now</span>
      </section>
      <section class="article-bodies">

        <!-- START - Card #1 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #1 -->

        <!-- START - Card #2 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #2 -->

        <!-- START - Card #3 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #3 -->

        <!-- START - Card #4 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #4 -->

      </section> <!-- </section class="article-bodies"> -->
    </article> <!-- END - TRENDING ARTICLE -->

    <article>
      <!-- START - VIDEOS ARTICLE -->
      <section class="article-titles">
        <span>Video</span>
      </section>

      <section class="article-bodies">

        <!-- START - Card #1 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #1 -->

        <!-- START - Card #2 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #2 -->

        <!-- START - Card #3 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #3 -->

        <!-- START - Card #4 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #4 -->

      </section> <!-- </section class="article-bodies"> -->
    </article> <!-- END - VIDEOS ARTICLE -->

    <article>
      <!-- START - BLOGS ARTICLE -->
      <section class="article-titles">
        <span>Blogs</span>
      </section>
      <section class="article-bodies">

        <!-- START - Card #1 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #1 -->

        <!-- START - Card #2 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #2 -->

        <!-- START - Card #3 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #3 -->

        <!-- START - Card #4 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #4 -->

      </section> <!-- </section class="article-bodies"> -->
    </article> <!-- END - BLOGS ARTICLE -->

    <article>
      <!-- START - TUTORIAL ARTICLE -->
      <section class="article-titles">
        <span>Tutorials</span>
      </section>
      <section class="article-bodies">

        <!-- START - Card #1 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #1 -->

        <!-- START - Card #2 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #2 -->

        <!-- START - Card #3 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #3 -->

        <!-- START - Card #4 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #4 -->

      </section> <!-- </section class="article-bodies"> -->
    </article> <!-- END - TUTORIAL ARTICLE -->

    <article>
      <!-- START - NEWS ARTICLE -->
      <section class="article-titles">
        <span>News</span>
      </section>
      <section class="article-bodies">

        <!-- START - Card #1 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #1 -->

        <!-- START - Card #2 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #2 -->

        <!-- START - Card #3 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #3 -->

        <!-- START - Card #4 -->
        <a style="text-decoration: none; color: inherit" href="#">
          <div class="card-trending">
            <div class="card-background"></div>
            <div class="card-details">
              <div class="card_title">
                <span>(Title)</span>
              </div>
              <div class="card-description">(Description)</div>
              <div class="publisher-details">
                <span>(Publiser)</span>
                <span>(MMM DD, YYYY)</span>
              </div>
            </div>
          </div> <!-- </div class="card-trending"> -->
        </a> <!-- END - Card #4 -->

      </section> <!-- </section class="article-bodies"> -->
    </article> <!-- END - NEWS ARTICLE -->

  </main>
</body>

</html>
