<!DOCTYPE html>
<html lang="en">

<head>
  <title>Resource Haven</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

    <main>
      <section class="featured">
        <div class="resource-titles">
          <h2>Featured</h2>
        </div>
        <div class="featured-resources card-deck">
          <div class="card text-white bg-dark">
            <img class="card-img-top" src="https://sass-lang.com/assets/img/logos/logo-b6e1ef6e.svg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Sass Guide</h5>
              <p class="card-text">A guide to the basics of SASS.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card text-white bg-dark">
            <img class="card-img-top" src="https://icons.getbootstrap.com/assets/img/icons-hero.png"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bootstrap</h5>
              <p class="card-text">Quickly design and customize responsive mobile-first sites with Bootstrap, the
                world’s
                most popular front-end open
                source toolkit</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card text-white bg-dark">
            <div class="card-body">
              <h5 class="card-title">
                <CSS-Tricks></CSS-Tricks>
              </h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="https://css-tricks.com/" class="btn btn-primary">CSS-Tricks</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="video-resources">
          <div class="resource-titles">
            <h2>Videos</h2>
          </div>
          <div class="featured-resources card-deck">
            <div class="card text-white bg-dark mb-3">
              <iframe src="https://www.youtube.com/embed/uhU5o8T4bgc" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content.
                  This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card text-white bg-dark mb-3">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card text-white bg-dark mb-3">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content.
                  This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="article-resources">
          <div class="resource-titles">
            <h2>Articles</h2>
          </div>
          <div class="featured-resources card-deck">
            <div class="card text-white bg-dark">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content.
                  This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content.
                  This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
</body>

</html>
