<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create new collection</title>

  <!-- Internal Stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/new.css" type="text/css" />


  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <%- include('partials/_header') %>

  <div class="newContainer">
    <h2>Add to Collection</h2>
    <form  action="/collections" method="POST">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="3" placeholder="Description"></textarea>
      </div>
      <div class="form-group">
        <label for="urlInput">URL</label>
        <input type="text" class="form-control" placeholder="http://">
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" >
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>
</html>
