<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Temp Document</title>
</head>
<body>
  <h1>temp_collections_search.ejs</h1>
  <a href="/collections">GET /collections</a><br><br>
  <a href="/collections/new">GET /collections/new</a><br><br>
  <a href="/collections/1">GET /collections/:id</a><br><br>
  <a href="/collections/1/update">GET /collections/:id/update</a><br><br>
  <a href="/users/user123">GET /users/:id</a><br><br>
  <a href="/search/lemons">GET /search/:id</a><br><br>
  <a href="/register">GET /register</a><br><br>
  <a href="/login ">GET /login</a><br><br>


  <% for (const result of searchResults) { %>
    <p><%= result.title %></p>
    <p><%= result.url %></p>
  <% } %>

</body>
</html>
