@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  @include flex-column();
  min-width: 850px;
}

header {
  width: 95%;
}

#publication-info {
  @include flex-row();
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;

}
#owner-name {
  @include flex-row();
  align-items: center;
}

#dates {
  @include flex-row();

  #date-modified {
    margin-left: 5px;
  }
}

#resource-title {
  @include flex-row();
  justify-content: center;
  font-size: 20px;
}

#rating-likes {
  @include flex-row();
  justify-content: center;
  align-items: center;
  margin-top: -25px;
}

#rating-score {
  margin-right: 5px;
}

#likes {
  margin-left: 5px;
}

article {
  @include flex-column();
  width: 95%;
}

#description {
  margin-top: -10px;
}

#url {
  @include flex-column();
  align-items: center;
  font-size: 20px;
}

#edit-button {
  @include flex-column();
  align-items: center;
}

#rating-buttons {
  @include flex-column();
  align-items: center;
  margin-top: 30px;
}

#rating-title {
  font-size: 20px;
  font-weight: bold;
}

.star-buttons {
  background-color: transparent;
  color: rgb(199, 199, 199);
  border: none;
  font-size: 20px;
  cursor:pointer;
}

#star-1:hover {
  color: gold;
}

#star-2:hover {
  color: gold;
}

#star-3:hover {
  color: gold;
}

#star-4:hover {
  color: gold;
}

#star-5:hover {
  color: gold;
}


////////// Comments Section - START //////////
#comments-section {
  border: 2px solid rgb(199, 199, 199); // Testing - Remove when completed
  border-radius: 10px;
  @include flex-column();
  width: 100%;
  min-width: 850px;
  margin-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(240, 240, 240);
}

#comment-textbox {
  @include flex-column();
  justify-content: center;
  margin-top: 5px;
}

#comment-textarea {
  background-color: inherit;
}

::placeholder {
  color: black;
}

#comment-button {
  background-color: rgb(218, 216, 216);
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  transition-duration: 0.2s;
  cursor:pointer;
}

#comment-button:hover {
  background-color: white;
}

#comments-all {
  width: 100%;
}

.comment-details {
  @include flex-column();
  align-items: flex-start;
  width: 100%;
}

.user-name {
  margin-left: 5px;
}

.comment-body {
  margin: -15px 10px 0 10px;
}
////////// Comments Section - END //////////
