@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgb(175, 175, 175) !important;
  min-height: 1000px;
}

main {
  border: 10px solid white;
  background-color: white;
  border-radius: 10px;
  width: 1024px;
  margin: 75px auto 0 auto;
}

header {
  @include flex-column();
}

#publication-info {
  @include flex-row();
  justify-content: space-between ;
  font-size: 14px;
}

#edit-button {
  font-size: 10px;
}

#resource-info {
  margin-top: 10px;
  @include flex-column();
}

#like-button {
  background-color: transparent;
  border: none;
}

#like-heart {
  color: rgb(175, 175, 175);
  transition-duration: 0.3s;
  cursor:pointer;
}

#like-heart:hover {
  color: red;
  font-size: 15px;
}

#unlike-heart {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 15px;
  transition-duration: 0.3s;
  cursor:pointer;
}

#unlike-heart:hover {
  color: rgb(175, 175, 175);
  font-size: 14px;
}

#resource-title {
  font-size: 25px;
}

#resource-category {
  border: 2px solid rgb(175, 175, 175);
  border-radius: 5px;
  background-color: rgb(175, 175, 175);
  font-weight: bold;
}

#description {
  margin-top: 20px;
}

#url {
  font-size: 15px;
  margin: -5px 0 -5px 0;
}

#rating-buttons {
  @include flex-column();
  align-items: center;
  margin-top: 30px;
}

#rating-title {
  font-size: 20px;
  font-weight: bold;
}

.star-buttons {
  background-color: transparent;
  color: rgb(175, 175, 175);
  border: none;
  font-size: 20px;
  cursor:pointer;
}

// Temporary
.star-buttons-disabled {
  background-color: transparent;
  color: rgb(175, 175, 175);
  border: none;
  font-size: 20px;
}

#star-1:hover {
  color: gold;
}

#star-2:hover {
  color: gold;
}

#star-3:hover {
  color: gold;
}

#star-4:hover {
  color: gold;
}

#star-5:hover {
  color: gold;
}

#comments-section {
  border: 1px solid rgb(175, 175, 175);
  background-color: white;
  border-radius: 10px;
  @include flex-column();
  width: 100%;
  min-width: 850px;
  margin-top: 10px;
  padding-bottom: 10px;
}

#comment-textbox {
  @include flex-column();
  justify-content: center;
}

#comment-textarea {
  background-color: inherit;
  width: 99%;
  margin: auto;
}

::placeholder {
  color: rgb(175, 175, 175);
}

#comment-button {
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  margin: 5px auto 5px auto;
  width: 100px;
  font-size: 15px;
  transition-duration: 0.2s;
  cursor:pointer;
}

#comment-button:hover {
  background-color: rgb(240, 240, 240);
}

#comments-all {
  width: 100%;
}

.comment-details {
  @include flex-column();
  align-items: flex-start;
  width: 100%;
}

.user-name {
  margin-left: 5px;
}

.comment-body {
  margin: -15px 10px 0 10px;
}
////////// Comments Section - END //////////
