#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

#publication-info {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

#owner-name {
  display: flex;
  align-items: center;
}

#dates {
  display: flex;
}

#date-modified {
  margin-left: 5px;
}


#resource-title {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#rating-likes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -25px;
}

#rating-score {
 margin-right: 5px
}

#likes {
  margin-left: 5px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#description {
  margin-top: -10px;
}

#url {
  font-size: 20px;
}

#rating-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#rating-title {
  font-weight: bold;
  font-size: 20px;
}

#rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#comments {
  border: 2px solid rgb(103, 103, 103);;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#comments-title {
  border: 2px solid rgb(103, 103, 103);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -1px;
  background-color: gainsboro;
}

.comment-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.user-name {
  margin-left: 5px;
}

.comment-body {
  margin-top: -15px;
  margin-left: 10px;
}
